:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(44, 41, 41, 0.87);
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #e7ede6;
  text-decoration: inherit;
}
a:hover {
  color: yellow;
}

h1, h2, h3 {
  color: white;
  z-index: 2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* background-image: url("./assets/mos_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */

}

#root {
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.8rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 3rem;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.container {
  position: relative;
}

.navContainer {
  height: 10rem;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(139, 139, 139, 0.50);
  background-color: rgba(33, 145, 145, 0.8);
  backdrop-filter: blur(15px);
  box-shadow: 5;

}

.nav-list {
  display: flex;
  flex-direction: row;
  /* background: url("./assets/mos_background.jpg");
  background-size: 100vw auto;
  background-position: center; */

  /* clip the text is possible */
  /* -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */

}

.nav-item {
  color: rgb(197, 11, 70);
  margin-inline: 25px;
  font-size: 2rem;
  font-weight: 900;
  list-style: none;
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.contentsContainer {
  position: relative;
  padding-top: 10rem;
  background-image: url("./assets/mos_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home,
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

section {
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  width: 76%;
  margin: 2rem;
  z-index: 2;
  padding: 35px;
  border: 1px solid rgba(139, 139, 139, 0.50);
  border-radius: 20px;
  background-color: rgba(16, 16, 16, 0.5);
  box-shadow: 5;
  /* box-shadow: 0 0 10px 1px rgba(139, 139, 139, 0.5); */
  /* backdrop-filter: blur(15px); */
}

.speaking,
.press,
.contact {
  height:63vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-stuff {
  height:30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 15vh;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  width: 25%;
  margin: 3rem;
  z-index: 2;
  padding: 10px;
  border: 1px solid rgba(139, 139, 139, 0.50);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 1px rgba(139, 139, 139, 0.5);
  backdrop-filter: blur(15px);
}

.email-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

input {
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 15px;
  line-height: 1.8em;
  font-size: 2rem;
}


.form-label {
  margin-left: 3rem;
  margin-right: 1rem;
}

.list-container {
  display: flex;
  justify-content: space-around;
}

.blog-card {
  min-height: 15rem;
  max-height: 15rem;
  /* color: white;
  font-weight: 700;
  font-size: 1.7rem;
  width: 70%;
  margin: 3rem;
  z-index: 2;
  padding: 35px;
  border: 1px solid rgba(139, 139, 139, 0.50);
  border-radius: 20px;
  background-color: rgba(139, 139, 139, 0.50);
  box-shadow: 0 0 10px 1px rgba(139, 139, 139, 0.5);
  backdrop-filter: blur(15px); */
}

.blog-card:hover {
  color: yellow;
  box-shadow: 0 0 10px 1px rgba(243, 255, 14, 0.936);
}

.blog-open {
  max-height: none;
}

.offer-card {
  min-height: 9rem;
  max-height: 9rem;
  width: 20rem
}

.offer-card:hover {
  color: yellow;
  box-shadow: 0 0 10px 1px rgba(243, 255, 14, 0.936);
}

.affiliate-card {
  min-height: 5rem;
  max-height: 5rem;
  width: 15rem
}


.home {
  position: relative;
  width: 100%;
  height: 100%;
}


.head_shot {
  border-radius: 25%;
}

/* .contentsContainer:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 51);
  opacity: .6;
  z-index: 1;
  } */